.wrap {
  padding: 5rem;
}

.wrap h1 {
  font-size: 14px;
}

.c-cat {
  display: flex;
  margin-left: 2.5rem;
  padding-top: 2.5rem;
}

.c-article {
  padding: 1rem 2rem 1rem 2rem;
  width: min(25%, 300px);
  flex: 0 1 min(25%, 300px);
  a {
    svg {
      margin-top: -1px;
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
  }
  p {
    font-size: 14px;
    line-height: 120%;
    font-weight: 300;
    padding-bottom: 1rem;
  }

  time {
    color: var(--yellow);
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
    border-top: 1px dashed var(--yellow);
    padding-top: 1rem;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &:hover {
    time {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
}

.o-icon {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--red);
  border-radius: 50%;
  text-indent: -9999px;
  margin-top: 1.15rem;
  margin-left: -2.25rem;
  margin-right: 4rem;
}
